{% extends "base.html" %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="well">
                    <h2>DjangoPages: Data Driven Pages</h2>
                    <p>DjangoPages lets technical end user create and manage rich database driven pages with graphs,
                        tables, forms, and other elements using Django's admin interface and a powerful set of easy to
                        use widgets. It's a bit like Django's flatpages on steroids.</p>
                    <p>A DjangoPage can contain:</p>
                    <ul>
                        <li>Bootstrap3 grid layouts.</li>
                        <li>Database queries and include the results on the page.</li>
                        <li>Arbitrary Python code and include the results on the page.</li>
                        <li>Easy to create charts and graphs built on top of Highcharts.</li>
                        <li>Chart and graph export to a variety of file formats.</li>
                        <li>Forms and filters.</li>
                        <li>Markdown content.</li>
                        <li>CSV export of table and chart data.</li>
                    </ul>
                    <p>DjangoPages allows end users to create pages that used to
                        require programmers.  It is based on <strong>bootstrap3, font-awesmome & gliphicons,
                        jquery, chartkick, highcharts, taggit, ace, and other leading technologies. </strong></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>Here's what a <strong>DjangoPage definition looks like:</strong></p>
                <div class="alert alert-danger"># todo: put in an example of code on the page.</div>
                <p>The page includes a database query and creates a graph.  The page looks like this
                    (here link to page).</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-info">
                    <p> Contact me at:
                        <a href="mailto:rbell01824@gmail.com?Subject=dj_graphpages" target="_top">
                            rbell01824@gmail.com</a>
                    </p>
                </div>
            </div>
        </div>
    </div> <!-- /container -->
{% endblock content %}
